<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<!-- Navbar brand -->
		<a class="navbar-brand" href="#">Bateau Thibault</a>

		<!-- Toggle button -->
		<button
			class="navbar-toggler"
			type="button"
			(click)="basicNavbar.toggle()"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div
			class="collapse navbar-collapse"
			id="navbarSupportedContent"
			mdbCollapse
			#basicNavbar="mdbCollapse"
		>
			<!-- Left links -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">
						Carte des produits
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="detailsproduit">
						Détail des produits
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Historique
					</a>
				</li>
			</ul>

			<form class="d-flex input-group w-auto">
				<input
					type="search"
					class="form-control"
					placeholder="Dites ce que vous voulez chercher..."
					aria-label="Recherche"
				/>
				<button class="btn btn-outline-primary" type="button">
					Recherche
				</button>
			</form>

			<div class="ms-2 w-auto">
				<img class="img-fluid rounded-circle" alt="crab logo" src="../../../assets/data/user.png"/>
			</div>
		</div>
	</div>
</nav>
