<ul *ngFor="let produit of productsList" >
	<div class="card">
		<h5 class="card-header">{{ produit.name }}</h5>
		<div class="card-body">
			<p>Catégorie : {{ produit.category }}</p>
			<p>Est disponible : {{ produit.availability ? "Oui" : "Non" }}</p>
			<p>Prix : {{ produit.sale ? produit.price_on_sale : produit.price }}€</p>
			<p>En réduction : {{ produit.sale ? "Oui" : "Non" }}</p>
			<p>Montant réduction : {{ produit.discount }}</p>
			<p>Propriétaire : {{ produit.owner }}</p>
			<p>Quantité en stock : {{ produit.quantity_stock }}</p>
			<p>Quantité vendu : {{ produit.quantity_sold }}</p>
			<p *ngIf="produit.comments.length > 0">Commentaire : {{ produit.comments }}</p>
		</div>
	</div>
</ul>
