<ul *ngFor="let produit of productsList" >
	<div class="card">
		<div class="row">
			<div class="col-md-1 d-flex align-items-center justify-content-center">
				<img class="img-fluid rounded-circle" alt="crab logo" src="../../../assets/data/crabe.png"/>
			</div>
			<div class="col-md-4">
				<h5 class="card-header">{{ produit.name }}</h5>
				<div class="card-body">
					Prix : {{ produit.sale ? produit.price_on_sale : produit.price }}€
				</div>
				<div *ngIf="produit.sale" class="card-footer">
					Produit en réduction !!!
				</div>
			</div>
		</div>
	</div>
</ul>
