<footer class="text-center text-lg-start bg-light text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Connectez-vous avec nous sur les réseaux sociaux:</span>
    </div>

    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
			  <i class="fas fa-gem me-3"></i> Bateau Thibault
          </h6>

          <p>
		  Ici a Bateau Thibault je vends les produits que je pêche directement en mer pour vous garantir les produits les plus frais.
          </p>
        </div>


        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>

          <p><i class="fas fa-home me-3"></i> Paris, 75002, FR</p>

          <p>
            <i class="fas fa-envelope me-3"></i>
            thibault@bateauthibault.com
          </p>

          <p><i class="fas fa-phone me-3"></i> + 01 59 88 68 02</p>
          <p><i class="fas fa-print me-3"></i> + 01 59 88 68 02</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2021 Copyright:

    <a class="text-reset fw-bold" href="https://bateauthibault.com/"
      >bateauthibault.com</a
    >
  </div>
</footer>
